nav ul.menu{
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1em;
    width: 100%;
    margin: 0 auto;
}
nav ul.menu a {
    text-decoration: none;
    color:#fff;
    }
    nav ul.menu, nav ul.menu li {
        color:#fff;
        list-style: none;
        }
    nav ul.menu li{
        background-color: black;
        float: left;
        padding: 8px;
        line-height: 1em;
        
        width:17%;
        border: 2px solid #cccccc;
        }
        nav ul.menu ul{
            /* display: none;*/
            position: absolute;
            top: 2.1em;
            margin-left: -999999px;
            
            }
            nav ul.menu li li{ 
                width: 87%;
                
                }
                nav ul.menu li:hover {
                position: relative;
                }
                nav ul.menu li:hover > ul {
                margin: -1px -1px 0px -5px;
                
                
                }